<div class="main-ad">
	<img src="assets/album_header.png" class="img-responsive">
	<img src="assets/mainAd.jpg" id="mainAd" class="img-responsive">	
	<div class="ad-desc">
		<h6>Featuring</h6>
		<h5>"RIGHT HERE"</h5>
		<h6>BUY AT</h6>
		<ul>
			<li><button class="btn btn-default btn-sm ad-button">ITUNES</button></li>
			<li><button class="btn btn-default btn-sm ad-button">AMAZON</button></li>
			<li><button class="btn btn-default btn-sm ad-button">MERCH STORE</button></li>
		</ul>
	</div>
</div>
