<div class="fadein">
	<img src="assets/fullband1.jpg" class="img-responsive">
	<img src="assets/parker4.jpg" class="img-responsive">
	<img src="assets/ryanFlip.jpg" class="img-responsive">
	<img src="assets/will1.jpg" class="img-responsive">
	<img src="assets/fullband2.jpg" class="img-responsive">
	<img src="assets/kevin1.png" class="img-responsive">
	<img src="assets/kelen1.jpg" class="img-responsive">
</div>
	
