<table class="table" id="contact">
	<thead>
		<tr>
			<th colspan="4">CONTACT INFORMATION</th>
		</tr>
	</thead>
	<tbody class="vids">
		<tr>
			<td>
				<h4>Record Label:</h4>
				<a href="http://purenoise.net/" target="_blank">Pure Noise Records</a>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Management:</h4>
					<a href="http://goodfightentertainment.com/" target="_blank">
						Good Fight Entertainment
					</a> 
					<br>
					<br>
					Tim Zahodski:
						<p>
							<a href="mailto:tim@goodfightentertainment.com">
								tim@goodfightentertainment.com
							</a> 
						</p>
					Nick "Biggie" Grimaldi: 
						<p>
							<a href="mailto:biggie@goodfightentertainment.com">
								biggie@goodfightentertainment.com
							</a> 
						</p>
			</td>
		</tr>
		<tr>
			<td>
				<h4>Booking:</h4>
					North America:
						<p>
							<a href="mailto:brad@thesorokaagency.com">
								brad@thesorokaagency.com
							</a>
						</p>
						<br>
					World (Ex. North America):
						<p>
							<a href="mailto:tomtaaffe@theagencygroup.com">
								tomtaaffe@theagencygroup.com 
							</a>
						</p>
						<p>	
							<a href="mailto:annabewers@theagencygroup.com">
								annabewers@theagencygroup.com 
							</a>
						</p>
			</td>
		</tr>
	</tbody>
</table>