<table class="table" id="about">
	<thead>
		<tr>
			<th colspan="4">ABOUT THE STORY SO FAR</th>
		</tr>
	</thead>
	<tbody class="bio">
		<tr>
			<td>
				<h4>"Fuck an apology, ..</h4>
				<p>
					I’m not sorry for anything/I’ve been holding back my apathy for far too long/You don’t deserve what you haven’t earned…” screams singer Parker Cannon in “High Regard,” a song off The Story So Far’s first album "<em>Under Soil and Dirt</em>". The Story So Far has built themselves on those very words – you only deserve what you earn. Earning is something The Story So Far has been doing for years now, meeting and forming the band when they were all barely out of middle school. The band, made up of Parker Cannon (vocals), Kevin Geyer (guitar/vocals), Kelen Capener (bass), Ryan Torf (drums) and William Levy (guitar) look at where they are now and can hardly believe how far they’ve come.
				</p>
				<p>
					“It all blew up a little too fast for all five of us to handle. I don’t think any of us really knew what we were capable of doing with our music, we’re still unsure,” says guitarist Will Levy. “We just continue to play like it’s the last chance we’ll get to play together.” Since the band’s formation, the Walnut Creek California locals have taken over the pop punk world. Since releasing two EPs and two full lengths, including their latest, <em>What You Don’t See</em>, the band has toured the country many times over, along with Europe, Japan and Australia. And it doesn’t stop there, with performances at festivals all over the world and taking on the 2013 Vans Warped Tour. The Story So Far is currently embarking on a nationwide headlining tour with Stick To Your Guns, Heart to Heart, Rotting Out, and more.
				</p>
				<p>
					<em>What You Don’t See</em>, produced by Steve Klein of New Found Glory and The Story So Far’s latest release, is the album the band had wanted to make for a long time. Like Under Soil and Dirt, this album shows off the band’s edgier take to pop punk, but unlike their first full length, What You Don’t See shows the band has grown both as musicians and as people.
				</p>
				<p>
					<em>What You Don’t See</em> showcases the band’s growing success by debuting at #46 on the Billboard Top 200 chart with over 13,000 copies sold in its first week. Other rankings the album saw its first week include #1 Vinyl, #8 Alternative, and #8 Independent – proving The Story So Far to be one of the greatest pop punk bands of their generation.
				</p>
				<p>
					“Music is really what keeps us going,” says Will. “Our intentions are to make music that we enjoy and that we can listen to for a really long time.”
				</p>
				<p>
					The Story So Far’s newest album, <em>What You Don’t See</em>, is available in stores now. Fans can also purchase the album online at <a href="http://purenoise.merchnow.com" target="_blank">http://purenoise.merchnow.com</a>
				</p>
				<p>
					For a list of all tour dates and more information, please visit <a href="http://www.facebook.com/thestorysofarca" target="_blank">www.facebook.com/thestorysofarca</a>.
				</p>
			</td>
		</tr>
	</tbody>
</table>