<table class="table" id="videos">
	<thead>
		<tr>
			<th colspan="4">FEATURED VIDEOS</th>
		</tr>
	</thead>
	<tbody class="vids">
		<tr>
			<td>
				<div class="row">
					<div class="col-sm-6">
						<iframe src="//www.youtube.com/embed/jQg9pZal5_8" frameborder="0" allowfullscreen class="youtube">
						</iframe>
				
						<iframe src="//www.youtube.com/embed/e_iHep06jqk" frameborder="0" allowfullscreen class="youtube"></iframe>
					</div>
					<div class="col-sm-6">
						<iframe src="//www.youtube.com/embed/_vACAiPfAlc" frameborder="0" allowfullscreen class="youtube"></iframe>
				
						<iframe src="https://www.youtube.com/embed/8e1O3PITxdc" frameborder="0" allowfullscreen class="youtube"></iframe>
					</div>					
				</div>
			</td>
		</tr>
	</tbody>
</table>