<table class="table" id="videos">
	<thead>
		<tr>
			<th colspan="4">FEATURED VIDEOS</th>
		</tr>
	</thead>
	<tbody class="vids">
		<tr>
			<td>
				<iframe src="//www.youtube.com/embed/jQg9pZal5_8" frameborder="0" allowfullscreen class="youtube">
				</iframe>
			</td>
		</tr>
		<tr>
			<td>
				<iframe src="//www.youtube.com/embed/e_iHep06jqk" frameborder="0" allowfullscreen class="youtube"></iframe>
			</td>
		</tr>
		<tr>
			<td>
				<iframe src="//www.youtube.com/embed/_vACAiPfAlc" frameborder="0" allowfullscreen class="youtube"></iframe>
			</td>
		</tr>
	</tbody>
</table>