/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

* {
	list-style-type: none;
}

body {
	background-color: darkgray;
}
/*Navbar*/

img#brand {
	position: relative;
	top: -10px;
}

.navbar {
	border: lightgray;
	padding: 0;
	background-color: black;
}

.navbar-default a.navbar-brand {
	color: black;
}

button.navbar-toggle.collapsed {
	border-color: black;
	color: black;
	background-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #009900;
}

.navbar-collapse {
	margin-top: 0;
	background-color: lightgray;
}

.navbar-nav {
	margin: 0;
}

#bs-example-navbar-collapse-1 {
	padding: 0;
}

li > a {
	border-bottom: 1px solid white;
	padding: 2%;
	position: relative;
	height: 100%;
}
.navbar-default .navbar-nav > li > a {
	color: black;
}

ul.navbar-nav > li {
	border: black;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: #009900;
	color: white;
}

@media (min-width: 0px) {
	.outer-container {
		padding: 0;
	}
}

@media (min-width: 768px) {
	.navbar-collapse {
		background-color: black;
		float: right;
	}
	
	.navbar-default .navbar-nav > li > a {
		color: white;
	}
	
	.outer-container {
		margin-top: 5%;
		margin-bottom: 5%;
		background-color: lightgray;
	}
}

/*Main Ad - mobile*/

.main-ad {
	background-color: black;
	overflow: auto;
}

#mainAd {
	padding: 2%;
	float: left;
}

.navbar {
	margin-bottom: 0;
}

.ad-desc {
	color: #FFDE5C;
	margin: 0 auto;
	text-align: center;
}

.ad-desc > h6, h5 {
	margin: 1%;
}

.ad-button {
	background-color: #009900;
	color: white;
	border-color: #009900;
/*	padding: 1%;*/
	margin: 1%;
	min-width: 109px;
	font-size: 10px;
	font-weight: bold;
}

.ad-button:hover {
	background-color: #007A00;
	border-color: black;
	color: lightgray;
}

/*.fadein { position:relative; height:100%; width:100%; }
.fadein img { position:absolute; left:0; top:0; }*/

/*table*/

table {
	height: 100%;
	border-color: #009900;
}

tr {
	width: 100%;
	display: inline-table;
}

#show-dates {
	thead {
		background-color: #009900;
		border-bottom: 0px;
		color: black;
	}
	
	th {
		border: 0;
	}
	
	tr {
		border-color: #009900;
	}
	
	tfoot {
		background-color: black;
	}
}

table#show-dates.table {
	margin: 0;
}

.table > tbody > tr > td.show-date {
	width: 25%;
	text-align: center;
	padding: 4px;
	color: #009900;
	
	div.date {
		font-size: 30px;
	}
	
	div.month {
		font-size: 14px;
	}
	
	div.day {
		font-size: 12px;
		padding: 0;
	}
}

.table > tbody > tr > td {
	border-top: 0;
	border-bottom: 1px solid #dddddd;
	padding-top: 12px;
}

.table > tbody:first-child {
	border-top: 0;
}

button.btn.btn-sm.more-shows {
	background-color: white;
	float: right;
}

/*show item */

table.table {
	margin: 0;
}

.show-item {
	background-color: black;
	color: #D8D8D8;
	
	.venue {
		font-size: 14px;
		color: #6C6C6C;
	}
	
	.full-date {
		font-size: 12px;
		color: #6C6C6C;
	}
}

.location {
	font-size: 16px;
}

button.btn.btn-sm.tix {
	float: right;
	position: relative;
	top: 15px;
	background-color: #009900;
	color: #D8D8D8;
}

/*footer*/
div.footer {
	font-size: 10px;
	background-color: black;
	padding: 1%;
	color: #A7A7A7;
	text-align: center;
	border-top: 1px solid #A7A7A7;
}

/*Videos*/

td {
	background-color: black;
	iframe.youtube {
		display: block;
		margin: 0 auto;
		max-width: 336px;
		max-height: 189px;
	}
}

table#videos.table {
	margin: 0;
	
	thead > tr > th {
		background-color: #009900;
		border-bottom: 0;
	}
}

tbody.vids > tr > td {
	border: 1px solid black;
}

/*Contact*/
table#contact.table {
	margin: 0;
	color: white;
	
	a {
		color: white;
	}
	
	h4 {
		color: #009900;
	}
	
	p {
		text-indent: 3%;
	}
	
	thead > tr > th {
		color: black;
		background-color: #009900;
		border-bottom: 0;
	}
}

/*about*/
table#about.table {
	margin: 0;
	color: white;
	
	a {
		color: white;
	}
	
	h4 {
		color: #009900;
	}
	
	p {
		text-indent: 3%;
		margin: 3%;
	}
	
	thead > tr > th {
		color: black;
		background-color: #009900;
		border-bottom: 0;
	}
}

/*music */ 

iframe.soundcloud {
	width: 100%;
	height: 225px;
	padding: 2%;
}

/*general header/body */

.page-head {
	background-color: #009900;
	color: black;
	font-weight: bold;
	padding: 2%;
	
	a {
		color: black;
	}	
}

.page-body {
	background-color: black;
}
