@media (min-width: 768px) and (max-width: 992px) {
	.navbar-collapse {
		float: right;
		
		li {
			background-color: black;
			
			a {
				color: white;
			}
		}
	}
	
	.navbar-default .navbar-nav > li > a {
		color: white;
	}
	
	ul.nav.navbar.nav {
		background-color: black;
	}
	
	.outer-container {
		margin-top: 5%;
		margin-bottom: 5%;
		background-color: lightgray;
	}
}