@import 'bootstrap-sprockets';
@import 'bootstrap';

* {
	list-style-type: none;
}

body {
	background-color: darkgray;
}

@media (min-width: 0px) and (max-width: 768px) {
	
	.outer-container {
		padding: 0;
	}

	/*Navbar*/

	img#brand {
		position: relative;
		top: -10px;
	}

	.navbar {
		border: lightgray;
		padding: 0;
		background-color: black;
	}

	.navbar-default a.navbar-brand {
		color: black;
	}

	button.navbar-toggle.collapsed {
		border-color: black;
		color: black;
		background-color: black;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #009900;
	}

	.navbar-collapse {
		margin-top: 0;
		background-color: lightgray;
	}

	.navbar-nav {
		margin: 0;
	}

	#bs-example-navbar-collapse-1 {
		padding: 0;
	}

	li > a {
		border-bottom: 1px solid white;
		padding: 2%;
		position: relative;
		height: 100%;
	}
	.navbar-default .navbar-nav > li > a {
		color: black;
	}

	ul.navbar-nav > li {
		border: black;
	}

	.navbar-default .navbar-nav > li > a:hover {
		background-color: #009900;
		color: white;
	}



	/*.fadein { position:relative; height:100%; width:100%; }
	.fadein img { position:absolute; left:0; top:0; }*/

	/*Videos*/

	td {
		background-color: black;
		iframe.youtube {
			display: block;
			margin: 0 auto;
			max-width: 336px;
			max-height: 189px;
		}
	}

	table#videos.table {
		margin: 0;
	
		thead > tr > th {
			background-color: #009900;
			border-bottom: 0;
		}
	}

	tbody.vids > tr > td {
		border: 1px solid black;
	}

	/*Contact*/
	table#contact.table {
		margin: 0;
		color: white;
	
		a {
			color: white;
		}
	
		h4 {
			color: #009900;
		}
	
		p {
			text-indent: 3%;
		}
	
		thead > tr > th {
			color: black;
			background-color: #009900;
			border-bottom: 0;
		}
	}

	/*about*/
	table#about.table {
		margin: 0;
		color: white;
	
		a {
			color: white;
		}
	
		h4 {
			color: #009900;
		}
	
		p {
			text-indent: 3%;
			margin: 3%;
		}
	
		thead > tr > th {
			color: black;
			background-color: #009900;
			border-bottom: 0;
		}
	}
}