<table class="table" id="show-dates">
	<thead>
		<tr>
			<th colspan="4">UPCOMING SHOWS</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="4">
				<button class="btn btn-sm more-shows">More..</button>
			</td>
		</tr>
	</tfoot>
	<tbody class="shows">
	</tbody>
</table>