<div class="main-ad">
	<img src="assets/album_header.png" class="img-responsive">
	<img src="assets/mainAd.jpg" id="mainAd" class="img-responsive">	
	
	<div class="ad-desc">
		<h5>Featuring</h5>
		<h4>"RIGHT HERE"</h4>
		<h5>BUY AT</h5>
		<ul>
			<li><button class="btn btn-default ad-button">ITUNES</button></li>
			<li><button class="btn btn-default ad-button">AMAZON</button></li>
			<li><button class="btn btn-default ad-button">MERCH STORE</button></li>
		</ul>
	</div>
</div>
